.root {
    -fx-background-color: #f3ead9;
    -fx-background-size: cover;
}

.circular-button{
    -fx-background-radius: 50%;
    -fx-background-color: white;
    -fx-text-fill:black;
    -fx-text-size: 100;
}
.ViewSignOut-button{
-fx-background-color: #b4aea1;
-fx-text-fill: black;
-fx-background-radius:5px;
 -fx-border-radius:5px;
    }

.button{
    -fx-cursor: hand;
}
.list-view {
    -fx-background-color: #a98467; /* Replace with your desired color */
}

.anchor-pane{
-fx-background-color: #f3ead9;
}
.scrollpane{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent; /* Changes each cell */
}
