.root {
    -fx-background-color: #f3ead9;
        -fx-background-size: cover;

}
.SignOutButton{
 -fx-background-color: #b4aea1; /* Red */
 -fx-text-fill:black; /* Text color */
 -fx-font-size: 12px;
 -fx-background-radius:5px;
     -fx-border-radius: 5px;
 }
.PayByWallet{
-fx-background-color: #b4aea1; /* Red */
 -fx-text-fill:black; /* Text color */
 -fx-font-size: 12px;
 -fx-background-radius:5px;
     -fx-border-radius: 5px;
}

.scrollpane{
    -fx-background-color: #f3ead9;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.vbox{
-fx-background-color:#f3ead9 ;
}
