
.idLabel {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 5;
}
.HBox {
    -fx-background-image: url("C:\Users\SIGMA\Downloads\roomsbg2.jpeg"
}

.button{
    -fx-cursor: hand;
}