.root {
    -fx-background-color: #bca48c;
    -fx-background-size: cover;
}
.table-view {
    -fx-background-color: #f3ead9;
}

.table-row-cell {
    -fx-background-color: #f3ead9;
}

.table-cell {
    -fx-background-color: #f3ead9;
}
