.root {
    -fx-background-color: #efd7cf;
    -fx-background-size: cover;
}
.table-view {
    -fx-background-color: #f7ebe7;
}

.table-row-cell {
    -fx-background-color: #f7ebe7;
}

.table-cell {
    -fx-background-color: #f7ebe7;
}
