@font-face {
    font-family: "Times New Roman";
    src: url("../fonts/times.ttf"); /* adjust path relative to this CSS file */
}

.custom-label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.root {
    -fx-background-image: url("../images/bg.jpg");
    -fx-background-size: cover;
}

.text-field {
    -fx-padding: 0 0 0 35; /* top right bottom left */
}
